:root {
    --ColorPrimary: #084199;
    --ColorSecond: #27A9C4;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg-gradientB {
    background: linear-gradient(to bottom, var(--ColorPrimary), var(--ColorSecond));
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-header {
    position: relative;
    background:
        linear-gradient(rgba(8, 65, 153, 0.5), rgba(8, 65, 153, 0.5)),
        url('https://s3-alpha-sig.figma.com/img/83f4/a398/cdb5fe35172b5da04c357dc90c5db108?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Ftc1laLd5JMhDdutG7cAb9QFP-EailGphaFCJfNw2PaVujtctUoKTn7jTMGW-1J~2newIHFpxDTm-1G9mplSUT2mMrcBqzII7njC6hksBgXiFqALUs0U4K7-NqtcA8i7KBXDG2Cln~lshk8jBvnBtNL5H8zZ3wM2TTqVfEO4GXK1qijvbvj4XS7Glqxgi5MkF2GVKaLUhe7FRy6Fgv1mh~DY6XjfeeVkFKL49fXLVb0YGcYdp3XijPG4xAO5-v9fcEbV-vVr1yv-5LFw7ldsQ5lWF3Ad6QxJM04ScRphcvJR0ZR0GZs6AnJ~clay2o9aqCwveIcrMObyLTZ1RXIFEw__');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

/* animation nav links */

.nav-link {
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

/* background img */

.bg-part2 {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://s3-alpha-sig.figma.com/img/bbab/57e6/a2d9a7ed5f7cfddff24554c8e03e0065?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jWoY8Pg~9g97K~X9aEttDs3Hb3BMq17rNKzqQXczyVcTvwIiXlzZnxifcOPS0jfrO9gkkdPfxH2Nm1NeuRWDjcq~H9LP4~zIu9xJKjhPeCkND2ns~ybiTJKlHyEn3gH85l818GoyWPevSOtcWPhKHt3k~pzTR86zj0rGgxjWBoG83QMJdz1g4ypJQU7FuJUM6HK-Hqwqy9Zu5zS4r2FK0AeSA94wefKf7Lt3AzSj64ZGGE3LaLZEeW8XIXz8mhjLsI8yuP6srnj5bHaEdlHiCEeO-tf5ccvGm~k8I-zknGDCMBj5MhsYQaO8LsAgv5qlverXG~~SxRFk3THkmRlV~Q__');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

/* cards */

.card {
    background-color: var(--ColorPrimary);
    padding: 15px;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    height: 100%;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    color: #F5F5F5;
    font-size: 18px;
    margin: 10px 0;
    text-decoration-line: underline;
}

.card p {
    font-size: 14px;
    margin: 10px 0;
    color: #FFFFFF;
}

.small-button {
    background-color: #FFFFFF;
    color: var(--ColorPrimary);
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 2px solid #FBFBFB;
    border-radius: 8px;
    width: 50%;
}

.small-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.range-card {
    color: var(--ColorPrimary);
    background-color: #FFFFFF;
}

.partner-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.partner-logos img {
    max-width: 150px;
    margin: 10px;

}

.card-text-bg {
    position: relative;
}

.event-img {
    width: 100%;
    height: 400px;
    border-radius: 4px;
}

.card-event {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

.card-title-event {
    font-size: 1.5rem;/
}

.card-txt {
    font-size: 1rem;/
}

.button {
    width: 200px;
    height: 30px;
    background: #084199;
    border: 2px solid #FBFBFB;
    border-radius: 8px;
    color: #FBFBFB;
}

.button:hover {
    background-color: #0056b3;
}


h1 {
    color: white; 
    text-align: start;
    padding: 40px;
}

ul li {
    color: white; 
    text-align: start;
    padding: 10px;
    list-style-image: url(imgs/coral.png);
    cursor: pointer;
}

.large-input {
    width: 100%;
    max-width: 500px;
}

.custom-input {
    background-color: #2CBCDA;
    border: 3px solid white;
    border-radius: 0;
    color: white;
}
.custom-input::placeholder {
    color: white;
}